@import "../general.scss";

.simulation-container {
  margin: 16px 16px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;

  .simulation-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .main_title_btn2{
      @extend %button1;
      width: 170px;
      margin: 30px 12px 0 0;
      }

      .main_title_btn2:hover{
      width: 185px;
      margin: 25px 12px 0 0;
      }
  }
  .simulation-status {
    display: flex;
    flex-direction: column;
    align-items: center;

    .status {
      border: solid 1px $color_1;
      border-radius: 5px;
      color: $color_1;
      padding: 5px 5px 5px 5px;
      width: 90%;
      text-align: center;
    }
  }
}
