@import "../../general.scss";

.sensors-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: start;
  background-color: $color_1;

  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  height: 300px;
  width: 600px;

  overflow: auto;

  border-radius: 10px;

  box-shadow: 4px 8px 30px 3px rgba(0, 0, 0, 0.164);

  .sensors-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .btn-close {
      @extend %button2;

      background-color: orangered;
      color: $color_2;
    }
  }
}
