$color_1: rgb(2, 230, 255);
$color_2: rgb(0, 0, 0);
$color_3: rgb(195, 0, 255);
$color_4: rgb(0, 25, 165);
$color_5: rgb(0, 81, 255);

%font1{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
